.entradaNumerica {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    columns: #000;
}

.text {
    color: #555;
    font-size: 1.5rem;
}

.value {
    color: #555;
    font-size: 6rem;
}
.botoes {
    display: flex;

}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    height: 80px;
    width: 80px;
    margin: 5px;
    border: none;
    cursor: pointer;
}