
.area {
    position: relative;
    display: flex;
    flex-direction: column;
    width: var(--area-porta-largura);
    height: var(--area-porta-altura);
    align-items: center;
    margin: 5px;
}

.estrutura {
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    border-left: 5px solid brown;
    border-top: 5px solid brown;
    border-right: 5px solid brown;
    background-color: rgba(156, 154, 154, 0.603);
    width: 90%;
}

.porta {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: chocolate;
  align-items: center;
  padding: 15px;
  /* temp */
}

.numero {
  font-size: 3rem;
}

.macaneta {
    position: absolute;
    align-self: flex-start;
    top: calc(0.45 * var(--area-porta-altura));
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: brown;
}

.chao {
    height: 10px;
    width: 100%;
    background-color: #ddd;
}

.selecionada {
    border-left: 5px solid yellow;
    border-top: 5px solid yellow;
    border-right: 5px solid yellow;   
}

.selecionada .numero {
    color: yellow;
}


.selecionada .macaneta {
    background-color: yellow;
}